# Copyright 2023 The OpenVEX Authors
# SPDX-License-Identifier: Apache-2.0

name: verify

on:
  push:
    branches:
      - "main"
  pull_request:

permissions: read-all

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v3
        with:
          go-version: '1.21'
          check-latest: true
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # v3.7.0
        with:
          version: v1.54
          args: --timeout=5m
